.heroSection {
  height: 50vh;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .darken {
    background: rgba(0,0,0,0.33);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .heroContent {
    position: relative;
    z-index: 10;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
}

@media(min-width: 800px) {
  .heroSection { height: 70vh; }
}

@media(max-width: 800px) {
  .heroContent h1 {
    font-size: 2em;
  }
}