h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.5;
}

h3 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.25em;
}

h4 {
  font-weight: bold;
  font-size: 1em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 0.5em;
}

.bold { font-weight: bold }

ul {
  padding-left: 2em;
}